{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyladies Indonesia</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" href="{% static 'css/sections/hero.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections/strip.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections/about.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections/community.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections/program.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections/upcoming.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
	{% block css %}{% endblock %}
</head>
<body>
    <header>
      <nav class="navbar">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-burger" aria-label="Toggle navigation menu">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <ul>
          <li class="nav-logo">
            <a href="#">
              <img src="{% static 'images/logo.png' %}" alt="My image">
              <span class="logo-text">
                <span class="text-pyladies">Pyladies</span> <span class="text-yellow">Indonesia</span>
              </span>
            </a>
          </li>
          <li class="nav-item"><a href="#about">About Us</a></li>
          <li class="nav-item"><a href="#program">Program</a></li>
          <li class="nav-item"><a href="#upcoming">Upcoming Projects</a></li>
          <li class="nav-item"><a href="#community">Community</a></li>
          <!-- <li class="nav-item"><a href="#chapter">Chapter</a></li> -->

          <li class="nav-button">
            <a href="https://www.instagram.com/pyladiesid/" class="primary-btn">Join Now &rarr;</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>

      <section id="home">
          <!-- Hero -->
		   {% include 'sites/sections/home.html' %}
      </section>

      <section id="strip">
          <!-- Batik Strip -->
          {% include 'sites/sections/strip.html' %}
      </section>

      <section id="about">
          {% include 'sites/sections/about.html' %}
      </section>

      <section id="program">
          {% include 'sites/sections/program.html' %}
      </section>

      <section id="strip-yellow">
          <!-- Marquee Strip Yellow -->
          {% include 'sites/sections/strip-yellow.html' %}
      </section>

      <section id="upcoming">
          {% include 'sites/sections/upcoming.html' %}
      </section>
      <section id="community">
          {% include 'sites/sections/community.html' %}
      </section>

      <section id="chapter">
          <!-- Chapter -->
      </section>

       <!-- Section Supported By -->
<section class="supported">
    <div class="supported-container">
        <h2>Supported by</h2>
        
        <div class="support-list">
            <!-- Item 1: PythonID -->
            <div class="support-card">
                <img src="{% static 'images/supported/pythonid.png' %}" alt="PythonID Logo">
                <span>PythonID</span>
            </div>

            <!-- Item 2: Bandung.Py -->
            <div class="support-card">
                <img src="{% static 'images/supported/bandungpy.png' %}" alt="Bandung.Py Logo">
                <span>Bandung.Py</span>
            </div>

            <!-- Item 3: PyLadies Global -->
            <div class="support-card">
                <img src="{% static 'images/supported/pyladies-global.png' %}" alt="PyLadies Global Logo">
                <span>PyLadies Global</span>
            </div>

            <!-- Item 4: Python Software Foundation -->
            <div class="support-card">
                <img src="{% static 'images/supported/psf.jpg' %}" alt="Python Software Foundation Logo"> 
                <span>Python Software Foundation</span>
            </div>
        </div>
    </div>
</section>

    </main>

    <!-- footer -->
    <footer class="footer-container">
      <!-- Top Section: Brand + Links -->
      <div class="footer-top">
        <!-- Brand / Logo Section -->
        <div class="footer-brand">
          <div class="brand-title">
            <img src="{% static 'images/logo.png' %}" alt="PyLadies Logo" class="brand-logo" />
            <h2>PyLadies <span>Indonesia</span></h2>
          </div>
          <p class="brand-description">
            A mentor-led community in Indonesia dedicated to empowering women to thrive in the world of Python programming.
          </p>
        </div>
    
        <!-- Navigation Links -->
        <div class="footer-links">
          <div class="footer-col">
            <h3>Program</h3>
            <a href="#">Empower Women in Tech</a>
            <a href="#">Workshop</a>
            <a href="#">Connection</a>
          </div>
    
          <div class="footer-col">
            <h3>Chapter</h3>
            <a href="https://www.instagram.com/pyladies.yk">Yogyakarta</a>
            <a href="https://www.instagram.com/pyladies.bdg">Bandung</a>
          </div>
    
          <div class="footer-col">
            <h3>About Us</h3>
            <a href="#">Blog</a>
            <a href="#">Support</a>
            <a href="mailto:indonesia@pyladies.com">Contact</a>
          </div>
        </div>
        <div class="footer-ornament">
          <img class="footer-ornament"
          src="{% static 'images/ornament.png' %}"
          alt="">
        </div>
      </div>
  
      <!-- Horizontal Divider -->
      <div class="footer-divider"></div>
    
      <!-- Bottom Section: Copyright -->
      <div class="footer-bottom">
        <p>&copy; 2026 PyLadies Indonesia</p>
      </div>
    </footer>

</body>
</html>