{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyladies Indonesia</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="container">
        <!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
        <nav class="navbar">
  <ul>
    <li class="nav-logo">
      <a href="#">
        <img src="{% static 'images/logo.png' %}" alt="My image">
        <span class="logo-text">
          <span class="text-pyladies">Pyladies</span> <span class="text-yellow">Indonesia</span>
        </span>
      </a>
    </li>
    <li class="nav-item"><a href="#">About Us</a></li>
    <li class="nav-item"><a href="#">Program</a></li>
    <li class="nav-item"><a href="#">Community</a></li>
    <li class="nav-item"><a href="#">Chapter</a></li>

    <li class="nav-button">
      <a href="#" class="btn-join">Join Now &rarr;</a>
    </li>
  </ul>
</nav>
    </div>
</body>
</html>