 {% load static %}
 <section class="programs">
 
    <div class="eyebrow">
      <span class="line"></span>
      <span>Our Programs</span>
    </div>
 
    <h1>Why Join <span class="highlight">PyLadies?</span></h1>
 
    <div class="cards">
      <div class="card gold">
        <div class="icon-box">👩🏻‍💻</div>
        <h3>Empower Women in Tech</h3>
        <p>We believe technology grows stronger when more women have the opportunity to learn, lead, and contribute.</p>
       
      </div>
 
      <div class="card light">
        <div class="icon-box">📚</div>
        <h3>Learn Without Limits</h3>
        <p>Build your Python skills through workshops, coding sessions, and collaborative learning in a welcoming and inclusive community.</p>
      </div>
 
      <div class="card light">
        <div class="icon-box">🤝</div>
        <h3>Community First</h3>
        <p>More than a tech community—we're a place to find encouragement, friendship, collaboration, and lifelong learning.</p>
      </div>
    </div>
 
  </section>