{% load static %}

<div class="strip" style="background: #C82333" >
  <div class="batik-strip-inner">
    <div class="batik-strip-text">PyLadies Indonesia</div>
    <div class="batik-strip-text">Python for Women</div>
    <div class="batik-strip-text">Empower & Inspire</div>
    <div class="batik-strip-text">Join Our Community</div>
    
    <div class="batik-strip-text">PyLadies Indonesia</div>
    <div class="batik-strip-text">Python for Women</div>
    <div class="batik-strip-text">Empower & Inspire</div>
    <div class="batik-strip-text">Join Our Community</div>
  </div>
</div>