{% load static %}

<div class="strip-yellow" style="background: #C8943B" >
  <div class="batik-strip-inner">
    <div class="batik-strip-text-black">PyLadies Indonesia</div>
    <div class="batik-strip-text-black">Python for Women</div>
    <div class="batik-strip-text-black">Empower & Inspire</div>
    <div class="batik-strip-text-black">Join Our Community</div>
    
    <div class="batik-strip-text-black">PyLadies Indonesia</div>
    <div class="batik-strip-text-black">Python for Women</div>
    <div class="batik-strip-text-black">Empower & Inspire</div>
    <div class="batik-strip-text-black">Join Our Community</div>
  </div>
</div>